# Add pycache
src/utils/__pycache__
src/experimental-notebooks/__pycache__

# Add data in assets
assets/data/

# Add models directory
models/

# Add env variables
.env

src/utils/__pycache__/fileUtils.cpython-311.pyc
src/utils/__pycache__/modelUtils.cpython-311.pyc
src/utils/__pycache__/parserUtils.cpython-311.pyc
